@import '../../commons/variables';
@import '../../commons/mixins';

.container {
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;

  .pull-right {
    float: right;
    font-size: 1rem;
  }

  header {
    width: auto;
    min-height: 3rem;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    padding: 1rem;
    overflow: hidden;
    align-self: stretch;
    color: $white;
    @include gradient;
    @include photo-thumbnail;
  }

  main {
    display: flex;
    flex-direction: row;
    height: 100%;

    .jokes-container {
      flex-grow: 1;
      align-self: flex-start;
      margin: 1rem;
      padding: 1rem;
      @include box-shadow;
      @include border('border');
      width: 45%;
      line-height: 2rem;

      h1 {
        padding: 0;
        margin: 0;
        color: $title-font;
        padding-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
      }

    }

    aside {
      width: 15%;
      min-width: 200px;
      background-color: $navbar-background;

      button {
        color: $white;
        background: none;
        border: none;
        width: 100%;
        padding: 0.5rem;
        text-align: left;
      }

      @include photo-thumbnail;
    }
  }
}