@import'../../../../commons/variables';

.aside-element {
  color: $white;
  display: block;
  outline: 0;
  background-color: $background-list-item;
  border: 2px solid $background-list-item;
  padding: 2rem 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 2px solid $main-button;
  }

  &.active {
    background-color: $main-button;
    border: 2px solid $main-button;
  }
}