@import '../../commons/variables';
@import '../../commons/mixins';

ul {
  list-style-type: none;
  line-height: 1.2rem;
  padding: 0;

  li {
    padding: 0.8rem;
    cursor: pointer;

    &:not(:last-child) {
      @include border('border-bottom');
    }

    &:hover {
      &::before {
        background: $main-button;
        color: $white;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        margin-right: 1rem;
      }
    }


  }
}