$main-font: rgba(39, 41, 50, 1);
$title-font: rgba(48, 114, 180, 1);
$input-font: rgba(48, 114, 180, 1);
$main-button: rgba(0, 178, 227, 0.9);
$secondary-button: rgba(255, 73, 97, 0.9);
$gradient-start:rgba(0, 255, 247, 0.9);
$gradient-finish:rgba(0, 178, 227, 1);
$color3: rgba(220, 237, 255, 1);
$shadow:rgba(246, 246, 246, 1);

$background-error:#f8d7da;
$color-error:#721c24;
$border-error:#f5c6cb;

$white: rgba(255, 255, 255, 1);
$background:rgba(255, 255, 255, 1);
$navbar-background:rgba(44, 48, 59, 1);
$background-list-item: rgba(64, 68, 69, 1);
$border-color:rgb(230, 230, 230);